* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #131416;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  background-color: #27282c;
  border-radius: 2rem;
  padding: 5rem;
  width: 80%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.644) 0px 5rem 5rem 0rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  gap: 2rem;

  nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.9rem;
    gap: 2rem;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    transition: 1s;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.61);
  }

  .titulo_nav {
    text-decoration: none;
    transition: 1s;
  }

  .titulo_nav:hover {
    transform: translateX(3px);
  }

  section {
    display: flex;
    gap: 2.6rem;
    align-items: center;
    justify-content: space-around;
  }

  .conteudo {
    display: flex;
    flex-flow: column;
    gap: 3.8rem;
    width: 50%;
  }

  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 2.1rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
  }
  video {
    width: 50%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.466) 0px 2rem 2rem 0rem;
  }
  h3 {
    font-size: 5rem;
    text-align: center;
    display: none;
  }
}

.botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.6rem;

  a {
    font-size: 2.2rem;
    border-radius: 1.8rem;
    border: white solid 1px;
    padding: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.466) 0px 2rem 2rem 0rem;
    transition: 1s;
    width: 40%;
    text-align: center;
  }

  a:hover {
    transform: translateY(-3px);
    color: #131416;
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 95%;
    height: 90%;
    gap: 1rem;

    .conteudo {
      display: block;
      width: 100%;
      text-align: center;
    }

    .botoes {
      display: flex;
      flex-wrap: wrap;
      
    }

    .botoes a {
      width: 60%;
    }

    video,
    conteudo {
      display: none;
    }
  }
}
